.box1{
    height: 30px;
    width: 100px;
    float: left;
    display: inline-block;
}
.box2{
     height: 500px;
    width: 1000px;
    color: blueviolet;
    background-color: maroon;
    text-align: center;
    align-content: center;
    padding: 20px;
    margin: 100px;
    border: 1px solid red;
    display: inline-block;
}