.container{
    display: flex;
    height: 600px;
    width: 1000px;
    background-color: aqua;
    border: 1px solid black;
    flex-direction: row;
    flex-wrap: nowrap;
    /* flex- */
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
    gap: 10px;
}

.item{
    height: 100px;
    width: 500px;
    color: yellow;
    border: 1px solid black;
    background-color: brown;
    text-align: center;
    align-content: center;
    flex-grow: 1;
}
.item2{
    order: -1;
    flex-grow: 10;
    align-self: flex-end;
}